[Desktop Entry]
Name=Crimson Desert
Comment=Play this game on Steam
Exec=steam steam://rungameid/3321460
Icon=steam_icon_3321460
Terminal=false
Type=Application
Categories=Game;
