**/mimeinfo.cache
*.log
tmp/

nvim/config/nvim/LICENSE
nvim/config/nvim/README.md

local/share/applications/*
!local/share/applications/vesktop.desktop
!local/share/applications/yandexmusic.desktop
!local/share/applications/steam.desktop
!local/share/applications/chromium.desktop
!local/share/applications/YouTube.desktop
!local/share/applications/Claude.desktop
!local/share/applications/ToWindows.desktop
!local/share/applications/icons/
local/share/applications/icons/*
!local/share/applications/icons/YouTube.png
!local/share/applications/icons/Claude.png
!local/share/applications/icons/Windows.png
